#confirm-button > .btn-outline-secondary{
	color: green;
	font-weight: bold;
}

#answer-box{
	align-self: flex-end;
	background-color: #F1F1F1;
	border-radius: 50px;
	color: #7D7D7D;
	margin-top: 15px;
	width: 80%;
	max-width: 800px;
	min-width: 300px;
}

#answer-box > .input-group {
	margin:0 !important;
	font-size: 32px;
}

#answer-box > .input-group > .form-control {
	border-right: 6px solid green;
	color:black;
	font-weight: bold;
}

#answer-square > input{
	height: 60px;
	color: #7D7D7D;
	font-size: 24px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.correct-answer{
	box-shadow: 21px 26px 50px 0px green !important;
	border: 10px solid green !important;
}

.wrong-answer{
	border: 10px solid red !important;
	box-shadow: 21px 26px 50px 0px red !important;
}
