#confirm-button > .btn-outline-secondary{
	color: white;
	font-weight: bold;
	background-image: linear-gradient(to right, #16A8E0, #31BDD4);
	border: solid 0px #16A8E0;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

#answer-box{
	align-self: flex-end;
	background-color: #F1F1F1;
	border-radius: 50px;
	color: #7D7D7D;
	margin-top: 15px;
	width: 600px;
	min-width: 600px;
	box-shadow: 15px 17px 38px 12px rgba(0,0,0,0.26);
}

#answer-box > .input-group {
	margin:0 !important;
	font-size: 32px;
}

#answer-box > .input-group > .form-control {
	font-weight: bold;
}

#answer-square > input{
	height: 60px;
	color: #7D7D7D;
	font-size: 24px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

.correct-answer{
	box-shadow: 21px 26px 50px 0px green !important;
	border: 10px solid green !important;
}

.wrong-answer{
	border: 10px solid red !important;
	box-shadow: 21px 26px 50px 0px red !important;
}
