#main-container{
	display: grid;
}

#message-answer-correct{
	position:absolute;
	top:45%;
	z-index:99;
	left:70%;
	font-weight: 900;
	color:green;
	display: none;
}

#message-answer-wrong{
	position:absolute;
	top:45%;
	z-index:99;
	left:70%;
	font-weight: 900;
	color:red;
	display:none;
}

.message-answer-wrong{
	display: block !important;
}

.message-answer-correct{
	display: block !important;
}

#rules-square{
	height: calc(100vh - 140px - 60px);
	background-color: white;
	margin:0;
	padding:20px;
	overflow-y:scroll;
}

#rules-square > h2{
	font-style:italic;
	font-weight: bold;
	display: inline-block;
}

#rules-square > span{
	cursor: pointer;
	float: right;
	text-decoration: underline;
	font-style: italic;
}

#content > h1{
	padding:40px;
	margin:0 auto;
}
