#bottonbar{
	height:60px;
	background-image: linear-gradient(to right, #16A8E0, #31BDD4);
	border-top: 1px solid black;
}

#sharing{
	text-align: center;
}

#info{
	line-height: 12px;
	padding-left: 50px;
}
