#button-part{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items:center;
}

#content{
	height: calc(100vh - 140px - 60px);
	display: grid;
	grid-template-rows: 4fr 4fr 2fr;
	position: relative;
	background-color: #F1F1F1;
}
