#button-part{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: end;
	grid-column-gap: 20px;
}

#content{
	height: calc(100vh - 140px - 60px);
	display: grid;
	grid-template-rows: 4fr 4fr 2fr;
	position: relative;
	background-color: #F1F1F1;
	justify-items:center;
}

@media(max-width: 662px){
	#button-part{
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-self:center;
		grid-column-gap: 40px;
	}
}

@media(max-width: 580px){
	#content.row{
		margin-right: 0px;
	}
}
