#navbar{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	text-align: center;
	min-height:80px;
	height:140px;
	padding-left: 15px;
	padding-right: 15px;
	background-image: linear-gradient(to right, #16A8E0, #31BDD4);
	box-shadow: 6px 14px 19px 4px rgba(0,0,0,0.27);
}

#game-logo{

}

#points-level{
}

#points , #status {
	padding: 15px;
	color: #F1F1F1;

}

#points{
	font-weight: bold;
}

#status{
	font-style: italic;
}

#trophy{
	margin: 20px auto;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 1px solid black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-color: white;
}
#logged-in{
	/* color: white; */
	padding: 15px;
}

#logged-in > p , #logged-in > span{
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}
