#navbar{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
	min-height:80px;
	border-bottom:1px solid black;
	height:100px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
}

#game-logo{
	border-right:1px solid black;
	min-height:80px;
	height:100px;
}

#points-level{
	min-height:80px;
	height:100px;
}

#points,#level {
	padding:7px;
}

#points{
	font-weight: bold;
}

#level{
	font-style: italic;
}

#trophy{
	margin-top:10px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 1px solid black;
	justify-self: center;
}

#logged-in > p , #logged-in > span{
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}
