#navbar{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	text-align: center;
	min-height:80px;
	border-bottom:1px solid black;
	height:100px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #16A8E0;
}

#game-logo{
	border-right:1px solid black;
	min-height:80px;
	height:100px;
}

#points-status{
	min-height:80px;
	height:100px;
}

<<<<<<< HEAD
#points , #status {
	padding:10px;
=======
#points , #status{
	padding: 10px;
	color: #F1F1F1;
>>>>>>> test
}

#points{
	font-weight: bold;
}

#status{
	font-style: italic;
}

#points-level >small{
	font-size: 14px;
	color: #F1F1F1;
	padding-right: 10px;
}

#points-level >p{
	font-size: 16px;
	color: #F1F1F1;
	padding-left: 40px;
	margin-bottom: 0px;
}

#trophy{
	margin-top:10px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	border: 1px solid black;
	justify-self: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-color: white;
}

#logged-in > p , #logged-in > span{
	font-weight: bold;
	cursor: pointer;
	text-decoration: underline;
}
