body, html {
	height: 100vh;
	background-color: #16A8E0;
}

.card-deck{
	width: 300px;
	height: 500px;
	position:absolute;
	margin-top: 5%;
	margin-left: calc(50% - 150px);
}

.card-footer{
	text-align: center;
}

.text-muted {
	font-weight: bold;
	color: black;
}

.card-body{
	text-align: center;
	background-color: #FEFEFE;
}

#payment-form{
	width: 300px;
	margin: 0 auto;
	padding: 20px;
}

#pay-button{
	width: 100%;
	font-weight: bold;
	font-style: italic;

}

#payment-form-container{
	width:100%;
	height:100vh;
	background-color: white;
}

#cvc{
	max-width: 100px;
}

#expiration{
	max-width: 100px;
}
