#pay-button{
	width: 100%;
	font-weight: bold;
	font-style: italic;

}

#payment-form-container{
	width:100%;
	height:100%;
	background-color: white;
}

#cvc{
	max-width: 100px;
}

#expiration{
	max-width: 100px;
}
