.card-title{
	font-weight: bold;
}

.card-text{
	font-style: italic;
}

.card-deck{
	width: 300px;
	height: 500px;
	position:absolute;
	margin-top: 5%;
	margin-left: calc(50% - 150px);
}

.card-footer{
	text-align: center;
	color:#16A8E0;
	font-size: 20px;
}

.text-muted {
	font-weight: bold;
	color: #16A8E0 !important;
}

.card-body{
	text-align: center;
	background-color: #FEFEFE;
}



#pay-button{
	width: 100%;
	font-weight: bold;
	font-style: italic;

}

<<<<<<< HEAD
#payment-form-container{
	width:100%;
	height:100vh;
	background-color: white;
}
=======
>>>>>>> Restyling

#cvc{
	max-width: 100px;
}

#expiration{
	max-width: 100px;
}

#pay-mode-wrapper{
	width:100vw;
	height:100vh;
<<<<<<< HEAD
=======
	background-image: linear-gradient(to right, #16A8E0, #31BDD4);
	color: #16A8E0
>>>>>>> Restyling
}
