#question-box{
	max-width: 80%;
	min-width: 80%;
	width: 600px;
	color: #4B4B4B;
	text-align: center;
	margin: auto;
	padding: 10px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 600;
}

#word-box{
	font-size: 36px;
	justify-self:center;
	text-align: center;
	padding: 5px;
	margin: auto;
	border-radius: 10px;
	color: #4B4B4B;
	width:80%;
	margin-top: 5px;
	font-weight: 900;
}


.loader {
  border-top: 12px solid #16A8E0;
	border-bottom: 12px solid #16A8E0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
	position:absolute;
	top:25px;
	left: calc(50% - 50px);
	display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.displayOn{
	display: block !important;
}

.displayOff{
	display: none !important;
}

@media(max-width: 600px){
	#question-box{
		width: 350px;
	}
}

@media(max-width: 360px){
	#question-box{
		width: 300px;
	}
}
