#start-game-button{
	position: absolute;
	align-self: center;
	justify-self: center;
	width: 300px;
	height: 100px;
	border-radius: 10px;
	background-image: linear-gradient(to right, #16A8E0, #31BDD4);
	border: 0px;
}
