#user-navbar{
}

#logged-in{

}

#get-premium{
	margin-top: 5px;
	font-style: italic;
	background-color: white;
	color: #31BDD4;
	border: 0px;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 15px 17px 38px 2px rgba(0,0,0,0.26);
}

#user-account{
	cursor:pointer;
	margin-top: 20px;
	padding:10px;
	text-decoration: underline;
	color: #F1F1F1;
	margin-bottom: 5px;
}

#logged-in > ul{
	display: none;
	list-style: none;
	z-index: 3;
	background-image: linear-gradient(to right, #02B9D8,#30bcd5);
	margin-bottom: 0;
	position: relative;
	color: #F1F1F1;
	box-shadow: 12px 27px 13px 2px rgba(0,0,0,0.16);
	border-radius: 10px;
}

.show{
	display: block !important;
}

#logged-in > ul > li{
	z-index:4;
	padding:10px;
	font-style: italic;
}

i{
	display: inline-block;
	color: gold;
}

#premium-user-block > span{
	color: #F1F1F1;
	display: inline;
}

.premium-navbar-style{
	color: gold !important;
	font-weight: bold !important;
	text-transform: capitalize !important;
}
